$primary-body: #727280;
$primary-dark: #2D2D2F;
$secondary: #F0F4FB;
$grey: #8D8D8E;
$very-light-grey: #F8F8F8;
$white: #FFFFFF;
$blue: #2967FF;
$menu-blue: #AEC2EA;
$pink: #FF2D87;
$light-pink: #FF7CB4;
$green: #58CF18;
$yellow: #FFA601;

